#menu {
    float: left;
    width: 8vw;
}
#menu div {
    height: 14vh; /* sic */
}
#menu div a {
    font-size: 10vh; /* sic */
}
div#starmap_layers {
    float: left;
    position: relative;
    height: 1px;
}

div#readout {
    float: left;
}
