body {
    margin: 0;
    background-color: black;
    color: white;
}

/* Important: Do not add any padding/margin to the canvases or
 * their containing div.  There's no code anymore in the JS
 * to account for that when doing the positioning, scaling, and
 * responsive calculations.  */

div#starmap_layers canvas {
    position: absolute;
    left: 0;
    top: 0;
}
canvas#underlay {
    background-color: black;
    z-index: 1;
}
canvas#canvas { z-index: 2; }
canvas#overlay { z-index: 3; }

#readout { text-align: center; }
.star-name { font-size: 150%; }
.star-type { font-weight: bold; }
/* XXX TODO add some outer container to hide templately stuff before knockout runs */
#popup {
    position: fixed;
    z-index: 0;
    left: 4%;
    top: 4%;
    height: 92%;
    width: 92%;
    background-color: white;
}
#system {
    position: relative;
    left: 2%;
    top: 2%;
    height: 96%;
    width: 96%;
    background-color: #333;
    color: white;
}
#system h1 {
    font-family: "Lucida Console", Monaco, monospace; /* XXX TODO use this widely */
    text-align: center;
    margin: 0;
}

#menu div { text-align: center; }
.hamburger {
    font-size: 8vw;
    text-decoration: none;
    color: white;
}
.moon { text-indent: 1em; }
.world a { color: white; }
.closer { float: right; }
.closer a { color: white; }

.system_table th {
    background: #666;
    padding: 0 2px;
}
.system_table td.figure { text-align: right; }
.system_table meter { width: 2em; }
meter.overmax { border: 2px solid #ff3; }
