body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

/* Important: Do not add any padding/margin to the canvases or
 * their containing div.  There's no code anymore in the JS
 * to account for that when doing the positioning, scaling, and
 * responsive calculations.  */

div#starmap_layers canvas {
    position: absolute;
    left: 0;
    top: 0;
}
canvas#underlay {
    background-color: black;
    z-index: 1;
}
canvas#canvas { z-index: 2; }
canvas#overlay { z-index: 3; }

.star-info { text-align: center; }
.star-name { font-size: 150%; }
.star-type { font-weight: bold; }
/* XXX TODO add some outer container to hide templately stuff before knockout runs */
#popup {
    visibility: hidden;
    position: fixed;
    z-index: 0;
    left: 4%;
    top: 4%;
    height: 92%;
    width: 92%;
    background-color: white;
}
#system {
    position: relative;
    left: 2%;
    top: 2%;
    height: 96%;
    width: 96%;
    background-color: #333;
    color: white;
    overflow: auto;
}
#system h1 {
    text-align: center;
    margin: 0;
}

#menu div { text-align: center; }
#menu div a {
    text-decoration: none;
    color: white;
}
.moon { text-indent: 1.5em; }
.world a { color: white; }
.closer { float: right; }
.closer a { color: white; }

#system .star-info {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
.system_table th {
    background: #666;
    padding: 0 0.5em;
}
.system_table td.figure { text-align: right; }
.system_table td.range { text-align: center; }
.system_table meter { width: 2em; }
meter.overmax { border: 2px solid #ff3; }
