body {
    margin: 0;
    background-color: black;
    color: white;
}

/* Important: Do not add any padding/margin to the canvases or
 * their containing div.  There's no code anymore in the JS
 * to account for that when doing the positioning, scaling, and
 * responsive calculations.  */

div#starmap_layers canvas {
    position: absolute;
    left: 0;
    top: 0;
}
canvas#underlay {
    background-color: black;
    z-index: 1;
}
canvas#canvas { z-index: 2; }
canvas#overlay { z-index: 3; }

#readout { text-align: center; }
.star-name { font-size: 150%; }
.star-type { font-weight: bold; }
#popup {
    position: fixed;
    display: hidden;
    z-index: 0;
    left: 4%;
    top: 4%;
    height: 92%;
    width: 92%;
}

#menu div { text-align: center; }
.hamburger {
    font-size: 8vw;
    text-decoration: none;
    color: white;
}
