#menu { height: 8vh; }
#menu div {
    float: left;
    width: 14vw;
    font-size: 6vh;
    text-align: center;
    border-right: 1px solid #ccc;
}
#menu div:last-child {
    border-right: none;
}
.hamburger {
    font-size: 5vh;
}
div#starmap_layers {
    position: relative;
    height: 1px;
}
